:root {
    --logo-color: #4d5ae5;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
}