:root {
    --logo: #4d5ae5;
    --spanLogo: #2e2f42;
    --link: #2e2f42;
    --hovercolor: #404bbf;
    --addressLink: #434455;
    --sectionColor: #2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: var(--logo);
    text-decoration: none;
}

link {
    text-decoration: none;
    
}

.span-style {
    color: var(--spanLogo);
}


.list {
    list-style: none;
    
}

.nav-link-one {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .02em;
    color: var(--spanLogo);
    text-decoration: none;
}

.link-one {
    text-decoration: none;
    color: var(--spanLogo);
}

.link-one:hover {
    color: var(--hovercolor);
}

.link-one:focus {
    color: var(--hovercolor);
}

.link-add {
    text-decoration: none;
    color: var(--addressLink);
}

.link-add:hover {
    color: var(--hovercolor);
}

.link-add:focus {
    color: var(--hovercolor);
}

.address {
    font-style: normal;
}

.section-one {
    color: var(--sectionColor);
}

.section-header {
    font-size:56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: .02em;
    color: #FFFFFF;
}

.header-btn {
    background-color: #4D5AE5 ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.header-btn:hover {
    background-color: var(--hovercolor);
}
.header-btn:focus {
    background-color: var(--hovercolor);
}